# Student Loan Risk with Deep Learning

In [469]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [470]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
student_loans = pd.read_csv(file_path)

# Review the DataFrame
student_loans.head

<bound method NDFrame.head of       payment_history  location_parameter  stem_degree_score  gpa_ranking  \
0                 7.4               0.700               0.00          1.9
1                 7.8               0.880               0.00          2.6
2                 7.8               0.760               0.04          2.3
3                11.2               0.280               0.56          1.9
4                 7.4               0.700               0.00          1.9
...               ...                 ...                ...          ...
1594              6.2               0.600               0.08          2.0
1595              5.9               0.550               0.10          2.2
1596              6.3               0.510               0.13          2.3
1597              5.9               0.645               0.12          2.0
1598              6.0               0.310               0.47          3.6

      alumni_success  study_major_code  time_to_completion  \
0              0.076              11.0                34.0
1              0.098              25.0                67.0
2              0.092              15.0                54.0
3              0.075              17.0                60.0
4              0.076              11.0                34.0
...              ...               ...                 ...
1594           0.090              32.0                44.0
1595           0.062              39.0                51.0
1596           0.076              29.0                40.0
1597           0.075              32.0                44.0
1598           0.067              18.0                42.0

      finance_workshop_score  cohort_ranking  total_loan_score  \
0                    0.99780            3.51              0.56
1                    0.99680            3.20              0.68
2                    0.99700            3.26              0.65
3                    0.99800            3.16              0.58
4                    0.99780            3.51              0.56
...                      ...             ...               ...
1594                 0.99490            3.45              0.58
1595                 0.99512            3.52              0.76
1596                 0.99574            3.42              0.75
1597                 0.99547            3.57              0.71
1598                 0.99549            3.39              0.66

      financial_aid_score  credit_ranking
0                     9.4               5
1                     9.8               5
2                     9.8               5
3                     9.8               6
4                     9.4               5
...                   ...             ...
1594                 10.5               5
1595                 11.2               6
1596                 11.0               6
1597                 10.2               5
1598                 11.0               6

[1599 rows x 12 columns]>

In [471]:
# Review the data types associated with the columns
student_loans.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [472]:
# Define the target set y using the credit_ranking column
y = student_loans["credit_ranking"]

# Display a sample of y
y[:5]

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [473]:
# Define features set X by selecting all columns but credit_ranking
X = student_loans.drop(columns=["credit_ranking"]).copy()

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [474]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [475]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [476]:
# Define the the number of inputs (features) to the model
input_features_const = 11

# Review the number of features
# Additionally, make sure count is correct.
input_features_const == X.shape[1]

True

In [477]:
# Define the number of neurons in the output layer
hidden_nodes_output_layer = 1

In [478]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer_one = 8

# Review the number hidden nodes in the first layer
print(hidden_nodes_layer_one)

8

In [479]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer_two = 4

# Review the number hidden nodes in the second layer
print(hidden_nodes_layer_two)

4

In [480]:
# Create the Sequential model instance
neural_network = Sequential()

In [481]:
# Add the first hidden layer
# Please note, that this is broken out onto separate lines
# for reability purposes.
neural_network.add(
    Dense(
        units=hidden_nodes_layer_one,
        input_dim=input_features_const,
        activation="relu"
    )
)

In [482]:
# Add the second hidden layer
neural_network.add(
    Dense(
        units=hidden_nodes_layer_two,
        activation="relu"
    )
)

In [483]:
# Add the output layer to the model specifying the number of output neurons and activation function
neural_network.add(
    Dense(
        units=hidden_nodes_output_layer, 
        activation="relu"
    )
)

In [484]:
# Display the Sequential model summary
neural_network.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_50 (Dense)            (None, 8)                 96

 dense_51 (Dense)            (None, 4)                 36

 dense_52 (Dense)            (None, 1)                 5

=================================================================
Total params: 137 (548.00 Byte)
Trainable params: 137 (548.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [485]:
# Compile the Sequential model
neural_network.compile(
    loss="mse",
    optimizer="adam",
    metrics=["mse"]
)

In [486]:
# Fit the model using 50 epochs and the training data
deep_neural_network = neural_network.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50

38/38 [==============================] - 1s 1ms/step - loss: 26.3138 - mse: 26.3138
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 22.6860 - mse: 22.6860
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 18.6859 - mse: 18.6859
Epoch 4/50
38/38 [==============================] - 0s 2ms/step - loss: 14.6552 - mse: 14.6552
Epoch 5/50
38/38 [==============================] - 0s 2ms/step - loss: 10.9002 - mse: 10.9002
Epoch 6/50
38/38 [==============================] - 0s 2ms/step - loss: 7.8977 - mse: 7.8977
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 5.8928 - mse: 5.8928
Epoch 8/50
38/38 [==============================] - 0s 1ms/step - loss: 4.8099 - mse: 4.8099
Epoch 9/50
38/38 [==============================] - 0s 1ms/step - loss: 4.1542 - mse: 4.1542
Epoch 10/50
38/38 [==============================] - 0s 1ms/step - loss: 3.6332 - mse: 3.6332
Epoch 11/50
38/38 [==============================] - 0s 1ms/step - loss: 3.2118 - mse: 3.2118
Epoch 12/50
38/38 [==============================] - 0s 1ms/step - loss: 2.8676 - mse: 2.8676
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 2.5802 - mse: 2.5802
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 2.3469 - mse: 2.3469
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 2.1508 - mse: 2.1508
Epoch 16/50
38/38 [==============================] - 0s 1ms/step - loss: 1.9822 - mse: 1.9822
Epoch 17/50
38/38 [==============================] - 0s 1ms/step - loss: 1.8428 - mse: 1.8428
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 1.7181 - mse: 1.7181
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6143 - mse: 1.6143
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 1.5120 - mse: 1.5120
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 1.4201 - mse: 1.4201
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 1.3396 - mse: 1.3396
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 1.2634 - mse: 1.2634
Epoch 24/50
38/38 [==============================] - 0s 1ms/step - loss: 1.1999 - mse: 1.1999
Epoch 25/50
38/38 [==============================] - 0s 1ms/step - loss: 1.1393 - mse: 1.1393
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0851 - mse: 1.0851
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0367 - mse: 1.0367
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9926 - mse: 0.9926
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9512 - mse: 0.9512
Epoch 30/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9137 - mse: 0.9137
Epoch 31/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8806 - mse: 0.8806
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8514 - mse: 0.8514
Epoch 33/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8204 - mse: 0.8204
Epoch 34/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7947 - mse: 0.7947
Epoch 35/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7724 - mse: 0.7724
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7506 - mse: 0.7506
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7285 - mse: 0.7285
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7059 - mse: 0.7059
Epoch 39/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6890 - mse: 0.6890
Epoch 40/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6704 - mse: 0.6704
Epoch 41/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6580 - mse: 0.6580
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6424 - mse: 0.6424
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6327 - mse: 0.6327
Epoch 44/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6192 - mse: 0.6192
Epoch 45/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6075 - mse: 0.6075
Epoch 46/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5957 - mse: 0.5957
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5846 - mse: 0.5846
Epoch 48/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5748 - mse: 0.5748
Epoch 49/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5671 - mse: 0.5671
Epoch 50/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5576 - mse: 0.5576

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [487]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = neural_network.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Model Loss Data: {model_loss} Accuracy Data: {model_accuracy}")

13/13 - 0s - loss: 0.6398 - mse: 0.6398 - 173ms/epoch - 13ms/step
Model Loss Data: 0.6397929191589355 Accuracy Data: 0.6397929191589355

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [488]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Export your model to a HDF5 file
neural_network.save(file_path)

/Users/zweed/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [489]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Load the model to a new object
imported_neural_network = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [490]:
# Make predictions on the testing data
predictions = (neural_network.predict(X_test) > 5).astype("int32")

13/13 [==============================] - 0s 964us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [491]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [492]:
# Display sample data
results

      predictions  actual
75              1       5
1283            1       6
408             1       6
1281            1       6
1118            1       6
...           ...     ...
1416            1       5
1567            1       5
1204            1       7
12              1       5
584             1       7

[400 rows x 2 columns]